@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2><center>Donor Details</center></h2>
<br />
<br />
<p>Id: <strong>@Model.DonorId</strong></p>
<p>Full Name: <strong>@Model.FullName</strong></p>
<p>Blood Group: <strong>@Model.BloodGroup</strong></p>
<p>Contact No: <strong>@Model.ContactNo</strong></p>
<p>City: <strong>@Model.City</strong></p>
<p>Last Donation Date: <strong>@Model.LastDonationDate</strong></p>
<a class="btn btn-primary" href="/donor/list">Back to List</a>
